<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="GithubProductHeader" value="test"/>
		<add key="GithubClientToken" value="YoureToken"/>
		<add key="SlackWebHookUrl" value="YoureWebHookUrl"/>
	</appSettings>
</configuration>